<div class="page-head">
  <div>
    <h1>New Communication</h1>
    <p>Add a communication for <%= @child.name %>. You will be added as a correspondent automatically.</p>
  </div>
</div>

<section class="card">
  <%= render "form" %>
</section>
