<div class="page-head">
  <div>
    <h1>Edit Child</h1>
    <p>Update child information and alias details.</p>
  </div>
</div>

<section class="card">
  <%= render "form", child: @child %>
</section>
